[user]
name = Daniel Mellado
email = daniel.mellado@midokura.com
[credential]
helper = cache --timeout=600
[core]
editor = vim
excludesfile = ~/.gitignore
[gitreview]
username = daniel-mellado
[push]
default = simple
[color]
ui = true
