[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/bubblegum"]
	path = .vim/bundle/bubblegum
	url = git@github.com:baskerville/bubblegum.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
